body {
    font-family: serif;
    text-align: center;
}
div.picture-holder {
    box-sizing: border-box;
    height: 250px;
    width: 250px;
    float: left;
    border: solid 1px black;
}
#playfield {
     box-sizing: border-box;
     margin: auto;
     width: 1500px;
     height: 750px;
 }