#playfield {
    box-sizing: border-box;
    background-color: red;
    margin: auto;
    width: 1500px;
    height: 750px;
}
div.picture-holder {
    box-sizing: border-box;
    height: 250px;
    width: 250px;
    float: left;
    border: solid 1px black;
}